.ingredients {
    display: flex;
    flex-direction: column;
}

.scrolledSection { 
    max-height: 496px;
    overflow: scroll; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scrolledSection > :first-child {
    margin-top: 16px;
    }


.scrolledSection > :last-child {
    margin-bottom: 16px;
    }

.ingredientContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 13.5px;
}
