.ingredientCard {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ingredientImage {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid rgb(76, 76, 254);
  margin-right: 16px;
}

.ingredientName {
  composes: text text_type_main-small from global;
  font-size: 16px;
  font-weight: 700;
  width: 320px;
}

.ingredientPriceContainer {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  padding-right: 24px;
}

.ingredientPrice {
  composes: text text_type_digits-default from global;
  margin-right: 8px;
  text-align: right;
}
